/******HEADER***********/
.header {
  height: 450px;
  width: 100%;
  position: relative;
  background: white;
}

.header__texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../image/backend.webp") center no-repeat;
  background-position: center;
  background-size: cover;
}

.header__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__navbar--logo-title {
  color: #e67e22;
  font-size: 28px;
}

.header__navbar--menu-link {
  margin-left: 40px;
  color: #e67e22;
  font-weight: 700;
  text-decoration: none;
}

.header__slogan {
  text-align: center;
  margin-top: 30px;
}

.h__slogan--title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Anton";
  font-style: italic;
  letter-spacing: 2px;
}

.h__slogan--btn {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 20px;
  background: #e67e22;
  border-radius: 3px;
  box-shadow: 0px 0px 17px 1px black;
}

.header__navbar-toggle {
  width: 40px;
  height: 60px;
  display: flex;
  align-items: center;
  display: none;
  cursor: pointer;
}

.header__navbar-toggle-icons,
.header__navbar-toggle-icons:before,
.header__navbar-toggle-icons:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #e67e22;
  position: relative;
}
.header__navbar-toggle-icons:before {
  top: 10px;
}
.header__navbar-toggle-icons:after {
  top: -14px;
}

.is-open .header__navbar--menu {
  transform: translateY(0);
}

/******MEDIA QUERIES HEADER VERSION MOBILE***********/
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .header__navbar-toggle {
    display: flex;
    z-index: 1000;
  }
  .header__navbar--menu {
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 76vh;
    background: white;
    top: 0;
    left: 0;
  }
  .header__navbar--menu-link {
    margin: 20px 0;
    font-size: 24px;
  }
  .h__slogan--title {
    font-size: 20px;
  }
  .h__slogan--btn {
    font-size: 15px;
    padding: 9px 8px;
  }
  .header__navbar--logo-title {
    font-size: 20px;
  }
}
